absl-py
accelerate
aiohappyeyeballs
aiohttp
aiohttp-cors
aiosignal
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asn1crypto
asttokens
async-lru
async-timeout
attrs
audioread
Babel
backoff
bcrypt
beautifulsoup4
bleach
blessed
blinker
borb
boto3
botocore
cachetools
certifi
cffi
chardet
charset-normalizer
cli_exit_tools
click
cloudpickle
colorful
comm
contourpy
cramjam
crcmod
crypto
cryptography<45.0.0
cssselect
cycler
Cython
dashscope
debugpy
decorator
defusedxml
Deprecated
dill
distlib
distro
dnspython
docker-pycreds
docutils
easyocr
ecdsa
einops
entrypoints
enum34
et_xmlfile
eval_type_backport
exceptiongroup
executing
fabric
Farama-Notifications
fastapi
fastdtw
fastjsonschema
filelock
fire
Flask
fonttools
formulas
fqdn
frozenlist
fsspec
ftfy
func-timeout
gdown
gevent
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
gpustat
greenlet
groq
grpcio
gunicorn
gymnasium
h11
httpcore
httplib2
httptools
httpx
huggingface-hub
idna
ImageHash
imageio
importlib_metadata
importlib_resources
invoke
ipaddress
isoduration
itsdangerous
jax-jumpy
jedi
Jinja2
jiter
jmespath
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
kiwisolver
lark
lazy_loader
lib-detect-testenv
librosa
linkify-it-py
llvmlite
lxml
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdit-py-plugins
mdurl
mistune
MouseInfo
mpmath
msgpack
multidict
multiprocess
mutagen
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
ninja
none
numba
numpy
numpy-financial
odfpy
openai
opencensus
opencensus-context
opencv-python
opencv-python-headless
openpyxl
overrides
packaging
pandas
pandocfilters
paramiko
parso
pathtools
pdfminer.six
pdfplumber
pexpect
Pillow
platformdirs
playwright
ply
pooch
prometheus_client
promise
prompt_toolkit
propcache
proto-plus
protobuf
psutil
ptyprocess
pure_eval
py4j
pyacoustid
pyasn1
pyasn1_modules
PyAutoGUI
pyclipper
pycparser
pycryptodome
pydantic
pydantic_core
PyDrive
pyee
PyGetWindow
Pygments
PyJWT
PyMsgBox
PyMuPDF
PyNaCl
pynput
pyOpenSSL<25.0.0
pyparsing
pypdf
PyPDF2
pypdfium2
pyperclip
PyRect
pyrsistent
PyScreeze
PySocks
python-barcode
python-bidi
python-dateutil
python-docx
python-dotenv
python-json-logger
python-pptx
python-snappy
pytweening
pytz
PyWavelets
PyYAML
pyzmq
qrcode
QtPy
RapidFuzz
reactivex
referencing
regex
requests
requests-toolbelt
rfc3339-validator
rfc3986
rfc3986-validator
rfc3987-syntax
rich
rpds-py
rsa
s3transfer
safetensors
scikit-image
scikit-learn
scipy
Send2Trash
sentry-sdk
setproctitle
shapely
shellescape
shortuuid
six
smart-open
smmap
sniffio
soundfile
soupsieve
soxr
stack-data
starlette
sympy
termcolor
terminado
textual
threadpoolctl
thrift
thriftpy2
tifffile
tiktoken
timm
tinycss2
tokenizers
tomli
torch~=2.5.0
torchaudio==2.5.1
torchvision==0.20.1
tornado
tqdm
traitlets
transformers
types-python-dateutil
typing_extensions
typing-inspection
tzdata
uc-micro-py
ujson
uri-template
uritemplate
urllib3
uvicorn
uvloop
virtualenv
wandb
watchfiles
wcwidth
webcolors
webencodings
websocket-client
websockets
Werkzeug
widgetsnbextension
wrapt
wrapt_timeout_decorator
XlsxWriter
xmltodict
yarl
zipp
zope.event
zope.interface
zstandard